@use "variables" as *;
html{
  box-sizing: border-box;
  height: 100%;
}
*,
::before,
::after{
  box-sizing: inherit;
}
body{
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  background-color: $yellow;
}
*{
  margin: 0;
  padding: 0;
}