//colors
$yellow:#F4D04E; 
$gray-950:#111111;
$gray-500:#6b6b6b;
$white:#ffffff;


//spacing

$spacing-200:16px;
$spacing-150:12px;
$spacing-100:8px;
$spacing-50:4px;

//font

$font:"Figtree", sans-serif;